@import "normalize.css";
body {
  font-family: Helvetica, Arial;
}

.headline {
  margin: 10px;
  font-weight: bold;
  font-size: 10vh;
}
.headline span {
  font-size: 16vh;
}

.repo-list {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.repo-list .repo {
  grid-column: auto auto;
  grid-row: auto auto;
  padding: 10px 20px;
  background: #eee;
  position: relative;
}
.repo-list .repo h2 {
  margin: 0 0 10px;
}
.repo-list .repo a {
  color: black;
  text-decoration: none;
}
.repo-list .repo a:hover {
  text-decoration: underline;
  color: blue;
}
.repo-list .repo.build-success {
  background: #00823B;
}
.repo-list .repo.build-failure {
  background: #B10E1E;
}
.repo-list .repo.build-pending {
  background: linear-gradient(90deg, #FFDF77, #ECC, #FFDF77, #ECC, #FFDF77, #ECC, #FFDF77, #ECC, #FFDF77);
  background-size: 400% 100%;
  -webkit-animation: AnimationName 15s linear infinite;
  -moz-animation: AnimationName 15s linear infinite;
  animation: AnimationName 15s linear infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
.repo-list .repo.no-prs h2 {
  margin: 0;
}
.repo-list .repo .pull-request {
  background: #ccc;
  padding: 5px 20px 5px 5px;
  margin: 2px;
  position: relative;
}
.repo-list .repo .pull-request.wip {
  opacity: 0.7;
}
.repo-list .repo .pull-request > * {
  vertical-align: middle;
  display: inline-block;
}
.repo-list .repo .pull-request a {
  color: black;
}
.repo-list .repo .pull-request .avatar {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 15px;
}
.repo-list .repo .pull-request .state {
  position: absolute;
  right: 5px;
  top: 12px;
}